.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
      ". a a ."
      ". a a .";
  }
  .vector {
    max-width: 80%;
    padding: 20% 0 0 0;
  }

.lala {
    grid-area: a;
    display: block;
    margin-left: auto;
    margin-right: auto;
}